@use 'vars';


/* ===== Blocks ===== */

//@use "blocks/header";


html
{
    font-size: 15px;
}

body
{
    font-size: 1rem;
}


*,
*:before,
*:after
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}